@using PagedList;
@using PagedList.Mvc
@model PagedList.StaticPagedList<DentistClinic.Core.Models.OutpatientCases>
@{
    ViewBag.Title = "门诊记录";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">门诊记录</span>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <a class="btn btn-sm green" href="@Url.Action("Add")">
                            添加 门诊记录 <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="panel-heading">
                @using (Html.BeginForm("List", "OutpatientCases", FormMethod.Get, new { @class = "form-search" }))
                {
                    <div class="search-box">
                        <div class="input-group input">
                            <input type="text" class="form-control" placeholder="按姓名以及电话号搜索全部数据" value="@ViewBag.key" id="key" name="key">
                            <span class="input-group-btn">
                                <button class="btn btn-outline btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                }
            </div>
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr>
                                <th>就诊时间</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>电话</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count != 0)
                            {
                                foreach (var item in Model.Where(item => item != null))
                                {
                                    <tr>
                                        <td>
                                            @item.AddTime.Value.ToShortDateString()
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Index", new { id = item.OutpatientCasesId })">@item.Name</a>
                                        </td>
                                        <td>
                                            @item.Sex
                                        </td>
                                        <td>
                                            @item.age
                                        </td>
                                        <td>
                                            @item.Phone
                                        </td>
                                        <td>
                                            <a class="btn default btn-xs blue-stripe" href="@Url.Action("Index", new { id = item.OutpatientCasesId })"><i class="fa font-grey-cascade"></i> 详情</a>
                                            <a class="btn default btn-xs purple-stripe" href="@Url.Action("Edit", new {id = item.OutpatientCasesId})"><i class="fa fc-month-view"></i> 编辑</a>
                                            <a href="@Url.Action("Del", new {id = item.OutpatientCasesId})" onclick=" return confirm('确认删除吗？'); " class="btn default btn-xs red">
                                                <i class="fa fa-trash-o"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        共@(Model.TotalItemCount)条,每页@(Model.PageSize)条,当前@(Model.PageNumber)/@(Model.PageCount)页
                    </div>
                    <div class="col-md-7 col-sm-12 text-right">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("List", new
                        {
                            page,
                            @size = ViewBag.Size
                        }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
